### SYSTEM FILES ###
.DS_Store
Thumbs.db
desktop.ini  # Add Windows hidden config files

### EDITOR/IDE FILES ###
.vscode/
.idea/
*.sublime-*  # Sublime Text files

### DEPENDENCIES ###
node_modules/  # Only needed if you use npm

### TEMPORARY FILES ###
*.log  # Ignore log files
*.tmp  # Ignore temporary files